{
  "extends": "canvas",
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "generators": true,
    "modules": false
  },
  "rules": {
    "no-unused-vars": [2, {"argsIgnorePattern": "^_"}]
  },
  "parser": "espree"
}
